@model IEnumerable<Instructor>;

<div>Instructor List</div>

<a asp-action="AddInstructor" class="btn btn-primary">Add Instructor</a>
<table class="table table-dark">

    <tr>
        <th colspan="8">Instructor</th>
    </tr>

    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Is Tenured</td>
        <td>Rank</td>
        <td>Email</td>
        <td>Hiring Date</td>
        <td>Details</td>
        <td>Update</td>


    </tr>
    @foreach (var instructor in Model)
    {
        <tr>
            <td>@instructor.InstructorId</td>
            <td>@instructor.InstructorFirstName @instructor.InstructorLastName</td>
            <td>@instructor.IsTenured</td>
            <td>@instructor.InstructorRank</td>
            <td>@instructor.InstructorEmail</td>
            <td>@instructor.DateHired</td>
            <td><a asp-action="ShowDetail" asp-route-id="@instructor.InstructorId" class="btn btn-primary">Show Details</a></td>
            <td><a asp-action="UpdateInstructor" asp-route-id="@instructor.InstructorId" class="btn btn-primary">Update</a></td>
        </tr>
    }
</table>
